#cores{
	width: 200px;
	height: 200px;
	background-color: rgba(230,89,225,0.5);
	/*O ultimo valor é referente a opacidade*/
	/*background-color: rgb(230,89,225);*/
}

#cor{
	width: 200px;
	height: 200px;
	background-color: hsla(20,100%,59%, 0.2);
	/*O ultimo valor é referente a opacidade*/
	/*background-color: hsl(20,100%,59%);*/
}

/*Trabalhando com gradiente*/
#cor01{
	width: 200px;
	height: 200px;
	background: linear-gradient(red,blue);/*a direção do
	gradiente é, por padrão top-bottom.*/

}

#cor02{
	width: 200px;
	height: 200px;
	background: linear-gradient(to right,red,yellow);/*a direção esquerda para a direita.*/
	
}

#cor02{
	width: 200px;
	height: 200px;
	background: linear-gradient(to left,yellow, pink);/*a direção direita para esquerda.*/
	
}

#cor03{
	width: 200px;
	height: 200px;
	background: linear-gradient(to top,pink, gray);/*a direção de baixo para cima.*/
	
}

#cor04{
	width: 200px;
	height: 200px;
	background: linear-gradient(to bottom,red,black,green);
	
}

/*gradiente diagonal*/
#cor05{
	width: 200px;
	height: 200px;
	background: linear-gradient(to top left,red,black,yellow);/*de forma diagonal de baixo para cima, na parte esquerda.*/
	
}

/*trabalhando gradiente com ângulos*/
#cor06{
	width: 200px;
	height: 200px;
	background: linear-gradient(45deg,red,blue,green,pink);
	
}

/*Trabalhando gradiente com cor com transparência*/
#cor07{
	width: 200px;
	height: 200px;
	background: linear-gradient(45deg,rgba(255,0,0,0),blue,green);
	
}

/*TRABALHANDO COM RADIAL GRADIENTE*/
#cor08{
	width: 200px;
	height: 200px;
	background: radial-gradient(red, green, blue);
	
}