/*aula 02*/
/* seletor universal*/
*{
	margin: 0;
	padding: 0;
	color: red;
}

/*Seletor tag*/
h1{
	color: blue;
	font-size: 50px;
}

p{
	color: green;
	font-size: 12px;
}

/*Seletor atributo*/
input[type="text"]{
	width: 200px;
	background-color: #ccc;
	height: 35px;
	border: none;
}

input[name="email"]{
	width: 200px;
	background-color: #ccc;
	height: 35px;
	border: none;
}

input[type="submit"]{
	width: 50px;
	background-color: green;
	height: 35px;
	border: none;
	cursor: pointer;
	color: #fff 
}

/*Seletor atributo*/

/*AULA 01
h1{
	color: blue;
	font-size: 60px;
	font-family: tahoma;
}
*/