/*Seletor classe*/
.texto-principal{
	color: red;
	text-align: center;
}

.fundo-principal{
	background-color: green;
	padding: 20x;
}

/*Seletor id
este seletor só pode ser atribuido a um único 
elemento da página*/
#conteudo{
	background-color: blue;
	padding: 20px;color: green;
}